<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mappers.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id column="id"  property="id"  />
        <result column="name"  property="name"  />
        <result column="email"  property="email"  />
        <result column="age"  property="age"  />
        <result column="birthday"  property="birthday"  />
    </resultMap>

    <select id="findAllUsers" resultMap="UserResultMap">
        select id, name, email,age,birthday from t_user
    </select>

    <select id="findUserById" resultMap="UserResultMap">
        select id, name, email from t_user WHERE id=#{id}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(name,email) values(#{name},#{email})
    </insert>
    <insert id="insertUsersBatch" parameterType="java.util.List">
        insert into t_user (id,name,email,age,birthday)
        <foreach collection="list" item="item" index="index" separator="union all" >
            (select
            #{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.age,jdbcType=DECIMAL}, #{item.birthday,jdbcType=TIMESTAMP}
            from dual)
        </foreach>
    </insert>
    <update id="updateUsersBatch" parameterType="java.util.List">
        begin
        <foreach collection="list" item="item" index="index" separator=";" >
            update t_user
            <set>
                <if test="item.id!=null and item.id!=''">
                    id = #{item.id},
                </if>

                <if test="item.age!=null and item.age!=''">
                    age = #{item.age},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
        ;end;
    </update>

    <delete id="deleteUsersBatch" parameterType="java.util.List">
        delete from t_user
        <where>
            <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
                id=#{item.id}
            </foreach>
        </where>
    </delete>
</mapper>